<div class="form-group">
    <label for="companyName">Company Name</label>
    <input required type="text" name="companyName" id="companyName" class="form-control">   
</div>

<div class="form-group">
    <label for="jobTitle">Job Title</label>
    <input required type="text" name="jobTitle" id="jobTitle" class="form-control">   
</div>

<div class="form-group">
    <label for="deadline">Deadline</label>
    <input required type="text" name="deadline" id="deadline" class="form-control">   
</div>

<div class="form-group">
    <label for="stipend">Stipend</label>
    <input required type="text" name="stipend" id="stipend" class="form-control">   
</div>

<div class="form-group">
    <label for="location">Location</label>
    <input required type="text" name="location" id="location" class="form-control">   
</div>

<div class="form-group">
    <label for="duration">Duration</label>
    <input required type="text" name="duration" id="duration" class="form-control">   
</div>

<div class="form-group">
    <label for="branches">Branches</label>
    <input required type="text" name="branches" id="branches" class="form-control">   
</div>

<div class="form-group">
    <label for="formLink">Form Link</label>
    <input required type="text" name="formLink" id="formLink" class="form-control">   
</div>

<div class="form-group">
    <label for="jobDescription">Job Role/Description</label>
    <textarea required name="jobDescription" id="jobDescription" class="form-control"></textarea>
</div>


<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>